{% extends 'anime/base.html' %}
{%load static %}
{% block content %}
  <!-- CONTENT GRID -->
  <div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
      <!-- SECTION BANNER ICON -->
      <img class="section-banner-icon" src="{% static 'img/banner/badges-icon.png' %}" alt="badges-icon">
      <!-- /SECTION BANNER ICON -->
  
      <!-- SECTION BANNER TITLE -->
      <p class="section-banner-title">Huy hiệu</p>
      <!-- /SECTION BANNER TITLE -->
  
      <!-- SECTION BANNER TEXT -->
      <p class="section-banner-text">Đang trong quá trình phát triển...</p>
      <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <!-- GRID -->
    <div class="grid grid-3-3-3-3 top-space centered">
      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          20 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/bronze-s.png' %}" alt="badge-bronze-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/bronze-b.png' %}" alt="badge-bronze-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Bronze User</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has posted more than 1 post on their profile</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-bronze" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/silver-s.png' %}" alt="badge-silver-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/silver-b.png' %}" alt="badge-silver-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Silver User</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has posted more than 100 posts on their profile</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-silver" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          60 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/gold-s.png' %}" alt="badge-gold-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/gold-b.png' %}" alt="badge-gold-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Gold User</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has posted more than 500 posts on their profile</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-gold" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          100 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/platinum-s.png' %}" alt="badge-platinum-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/platinum-b.png' %}" alt="badge-platinum-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Platinum User</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has posted more than 1000 posts on their profile</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-platinum" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/traveller-s.png' %}" alt="badge-traveller-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/traveller-b.png' %}" alt="badge-traveller-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Forum Traveller</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Created at least 1 topic on 5 different groups forums</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
            <!-- PROGRESS STAT BAR -->
            <div id="badge-traveller" class="progress-stat-bar"></div>
            <!-- /PROGRESS STAT BAR -->
        
            <!-- BAR PROGRESS WRAP -->
            <div class="bar-progress-wrap">
              <!-- BAR PROGRESS INFO -->
              <p class="bar-progress-info negative center"><span class="light">Next Tier:</span><span class="bar-progress-text"></span></p>
              <!-- /BAR PROGRESS INFO -->
            </div>
            <!-- /BAR PROGRESS WRAP -->
          </div>
          <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/caffeinated-s.png' %}" alt="badge-caffeinated-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/caffeinated-b.png' %}" alt="badge-caffeinated-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Caffeinated</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Commented on a friend's post inside 30 seconds of posted</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-caffeinated" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          80 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/upowered-s.png' %}" alt="badge-upowered-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/upowered-b.png' %}" alt="badge-upowered-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Ultra Powered</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Received 50+ reacts inside 30 minutes of posting</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-upowered" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/scientist-s.png' %}" alt="badge-scientist-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/scientist-b.png' %}" alt="badge-scientist-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Crazy Scientist</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Helped us beta test new awesome features</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-scientist" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          20 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/ncreature-s.png' %}" alt="badge-ncreature-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="img/badge/ncreature-b.png" alt="badge-ncreature-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Night Creature</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Created 100+ posts between 1AM and 5AM</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-ncreature" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/warrior-s.png' %}" alt="badge-warrior-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/warrior-b.png' %}" alt="badge-warrior-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">The Warrior</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Helped the team enforce the communty rules</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-warrior" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          60 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/liked-s.png' %}" alt="badge-liked-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/liked-b.png' %}" alt="badge-liked-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Liked User</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Received 500+ like or love reactions in their profile posts</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-liked" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          80 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/sloved-s.png' %}" alt="badge-sloved-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/sloved-b.png' %}" alt="badge-sloved-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Super Loved User</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Received 1000+ like or love reactions in their profile posts</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-sloved" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/qconq-s.png' %}" alt="badge-qconq-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/qconq-b.png' %}" alt="badge-qconq-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Quest Conqueror</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Succesfully completed at least 10 quests at 100%</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-qconq" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/villain-s.png' %}" alt="badge-villain-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/villain-b.png' %}" alt="badge-villain-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Super Villain</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Received 100+ dislike reactions in their profile posts</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-villain" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          20 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/age-s.png' %}" alt="badge-age-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/age-b.png' %}" alt="badge-age-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Profile Age</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Congratz! You've been part of the community for 2 years</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
            <!-- PROGRESS STAT BAR -->
            <div id="badge-age" class="progress-stat-bar"></div>
            <!-- /PROGRESS STAT BAR -->
        
            <!-- BAR PROGRESS WRAP -->
            <div class="bar-progress-wrap">
              <!-- BAR PROGRESS INFO -->
              <p class="bar-progress-info negative center"><span class="light">Next Tier:</span><span class="bar-progress-text"></span></p>
              <!-- /BAR PROGRESS INFO -->
            </div>
            <!-- /BAR PROGRESS WRAP -->
          </div>
          <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          60 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/tstruck-s.png' %}" alt="badge-tstruck-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/tstruck-b.png' %}" alt="badge-tstruck-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Thunderstruck</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">The user reacted first on 50+ friends posts</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-tstruck" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          20 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/uexp-s.png' %}" alt="badge-uexp-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/uexp-b.png' %}" alt="badge-uexp-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Universe Explorer</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Joined and posted on 20 different groups</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-uexp" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/globet-s.png' %}" alt="badge-globet-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/globet-b.png' %}" alt="badge-globet-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Globe Trotter</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has at least 10 friends from different countries</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-globet" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/verifieds-s.png' %}" alt="badge-verifieds-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/verifieds-b.png' %}" alt="badge-verifieds-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Verified Streamer</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has linked a stream that was verified by the staff</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-verifieds" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          80 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/gempost-s.png' %}" alt="badge-gempost-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/gempost-b.png' %}" alt="badge-gempost-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Rare GemPost</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Received 100+ likes and 50+ comments on a single post</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-gempost" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/peoplesp-s.png' %}" alt="badge-peoplesp-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/peoplesp-b.png' %}" alt="badge-peoplesp-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">People's Person</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has accepted at least 200 friends requests</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-peoplesp" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/rulerm-s.png' %}" alt="badge-rulerm-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/rulerm-b.png' %}" alt="badge-rulerm-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Ruler of Masses</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has created and admins 5+ different groups</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-rulerm" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          20 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/marketeer-s.png' %}" alt="badge-marketeer-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/marketeer-b.png' %}" alt="badge-marketeer-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">The Marketeer</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Has posted at least 10 items on their shop</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-marketeer" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
      
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="light">Next Tier:</span><span class="bar-progress-text"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          80 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/tycoon-s.png' %}" alt="badge-tycoon-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/tycoon-b.png' %}" alt="badge-tycoon-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Bussiness Tycoon</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Sold more than 100 items on their shop</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-tycoon" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->

      <!-- BADGE ITEM STAT -->
      <div class="badge-item-stat">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <!-- TEXT STICKER ICON -->
          <svg class="text-sticker-icon icon-plus-small">
            <use xlink:href="#svg-plus-small"></use>
          </svg>
          <!-- TEXT STICKER ICON -->
          40 Exp
        </p>
        <!-- /TEXT STICKER -->
    
        <!-- BADGE ITEM STAT IMAGE PREVIEW -->
        <img class="badge-item-stat-image-preview" src="{% static 'img/badge/mightiers-s.png' %}" alt="badge-mightiers-s">
        <!-- /BADGE ITEM STAT IMAGE PREVIEW -->
    
        <!-- BADGE ITEM STAT IMAGE -->
        <img class="badge-item-stat-image" src="{% static 'img/badge/mightiers-b.png' %}" alt="badge-mightiers-b">
        <!-- /BADGE ITEM STAT IMAGE -->
    
        <!-- BADGE ITEM STAT TITLE -->
        <p class="badge-item-stat-title">Mightier Than Sword</p>
        <!-- /BADGE ITEM STAT TITLE -->
    
        <!-- BADGE ITEM STAT TEXT -->
        <p class="badge-item-stat-text">Wrote at least 50 blog posts in their profile</p>
        <!-- /BADGE ITEM STAT TEXT -->
    
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
          <!-- PROGRESS STAT BAR -->
          <div id="badge-mightiers" class="progress-stat-bar"></div>
          <!-- /PROGRESS STAT BAR -->
    
          <!-- BAR PROGRESS WRAP -->
          <div class="bar-progress-wrap">
            <!-- BAR PROGRESS INFO -->
            <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
            <!-- /BAR PROGRESS INFO -->
          </div>
          <!-- /BAR PROGRESS WRAP -->
        </div>
        <!-- /PROGRESS STAT -->
      </div>
      <!-- /BADGE ITEM STAT -->
    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->
{% endblock %}